name: CI/CD GKE

on:
  push:
    branches:
      - main

env:
  PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
  REGION: ${{ secrets.GCP_REGION }}
  REPOSITORY: hello-world
  IMAGE: app
  CLUSTER_NAME: devops-gke
  ZONE: us-central1-a
  NAMESPACE: hello-world

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ secrets.GCP_WIF_PROVIDER }}
          service_account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
            project_id: devops-reto-tecnico

      - name: Install GKE auth plugin
        run: |
            gcloud components install gke-gcloud-auth-plugin --quiet

      - name: Configure Docker
        run: |
          gcloud auth configure-docker $REGION-docker.pkg.dev

      - name: Build Docker image
        run: |
          docker build -t $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest ./app

      - name: Push Docker image
        run: |
          docker push $REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/$IMAGE:latest

      - name: Get GKE credentials
        run: |
          gcloud container clusters get-credentials devops-gke \
            --zone us-central1-a \
            --project devops-reto-tecnico

      - name: Deploy to GKE
        run: |
          kubectl rollout restart deployment hello-world -n hello-world
